<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget Edit</title>
  <!-- fix cdn -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../css/assignment2.css" rel="stylesheet"/>

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

</head>

<body>

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-pages pages-border-bottom">

    <p class="navbar-text pull-left">
      <a href="profile.html" class="navbar-text-colors-pages">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav navbar-text-colors-pages"></span>
      </a>
    </p>


    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-text-title-pages">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-plus navbar-text-colors-pages"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container main-body-content">

  <div class="aj-split-content-right">

    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <h3>Something happened here!</h3>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <img src="https://www.placebear.com/300/100" class="pull-full-width">
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <h3>Learn how to make this page! (warning: meta content)</h3>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/RY4rWrlY-qM?ecver=1" frameborder="0"
              allowfullscreen class="pull-full-width"></iframe>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <h3>Other Videos</h3>
    </div>


    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/u91tpMJSsDU?ecver=1" frameborder="0"
              allowfullscreen class="pull-full-width"></iframe>
    </div>

    <div class="widget-container pull-full-width">
      <div class="aj-widget">
        <div class="pull-right">
          <div>
            <span class="glyphicon glyphicon-cog main-theme-color"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>


  </div>


</div>

<!-- Footer -->
<nav class="navbar navbar-fixed-bottom header-footer-pages pages-border-top">
  <div class="container-fluid header-footer-pages">

    <p class="navbar-text pull-left">
      <a href="profile.html" class="navbar-text-colors-pages">
        <span class="glyphicon glyphicon-play glyphicon-nav navbar-text-colors-pages"></span>
      </a>
    </p>

    <p class="navbar-text pull-left">
      <a href="profile.html" class="navbar-text-colors-pages">
        <span class="glyphicon glyphicon-eye-open glyphicon-nav navbar-text-colors-pages"></span>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a href="profile.html" class="nav-hover">
        <span class="glyphicon glyphicon-user glyphicon-nav main-theme-color"></span>
      </a>
    </p>
  </div>
</nav>
<!-- End Footer-->

</body>
</html>
