<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">
    <p class="navbar-text pull-left">
      <a [routerLink]="['/event-list']">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav header-main-text-color"></span>
      </a>
    </p>
    <p class="navbar-header pull-left hidden-xs">
      <a class="navbar-brand thick">
        <b>Activities: {{event['eventName']}}</b>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a [routerLink]="['/event', eventId, 'activity', 'new']">
        <span class="glyphicon glyphicon-plus navbar-link"></span>
      </a>
    </p>
  </div>
</nav>

<div class="main-body-content">
  <div>
    <div class="col-sm-4">
      <app-event-details></app-event-details>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Users in this event:</h3>
        </div>
        <div *ngFor="let traveler of event['travelers']" class="aj-users-event">
          <a>{{traveler.firstName}} {{traveler.lastName}}</a>
        </div>
      </div>
      <div *ngIf="userIsOwner">
        Add Users To This Event:
        <br>
        <app-search-travelers></app-search-travelers>
      </div>
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
        <h1>Activities</h1>
        <li class="list-group-item" *ngFor="let activity of activities">
          <h4>
            <a [routerLink]="['/event', eventId, activity['_id']]">{{activity.activityName}}</a>
            on {{activity['startDate'] | date:'MM-dd-yyyy'}}
          </h4>
          <div *ngIf="activity['isDecided']">
            Decided Activity:
            {{activity['decidedActivity'].activitySuggestionName}}
            <br>
            {{activity['decidedActivity'].suggestionLocation}}
          </div>
          <div *ngIf="!activity['isDecided']">
            <a [routerLink]="['/event', eventId, activity['_id']]">Undecided.  Suggest & Vote.</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
