<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/traveler']">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav header-main-text-color"></span>
      </a>
    </p>


    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Activities for {{event['eventName']}}</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/event', eventId, 'activity', 'new']">
        <span class="glyphicon glyphicon-plus navbar-link"></span>
      </a>
    </p>
  </div>
</nav>


<div class="main-body-content">

  <div class="col-xs-3">
    <app-event-details></app-event-details>
  </div>

  <div class="col-xs-5">
    <ul class="list-group">
      list of activities
      <li class="list-group-item" *ngFor="let activity of activities">

        {{activity['startDate'] | date:'MM-dd-yyyy'}}
        <a [routerLink]="['/event', eventId, activity['_id']]">{{activity.activityName}}</a>

        <div *ngIf="activity['isDecided']">
          Decided Activity:
          {{activity['decidedActivity'].activitySuggestionName}}
          <br>
          {{activity['decidedActivity'].suggestionLocation}}
        </div>
      </li>
    </ul>
  </div>

  <div class="col-xs-4">
    Users in this event:
    <div *ngFor="let traveler of event['travelers']">

      {{traveler.firstName}} {{traveler.lastName}}
    </div>
    <br><br><br>

    <div *ngIf="userIsOwner">
      Add Users To This Event:
      <br>
      <app-search-travelers></app-search-travelers>
    </div>


  </div>
</div>


<!-- Footer -->
<nav class="navbar navbar-fixed-bottom header-footer-blue-steel">
  <div class="container-fluid header-footer-blue-steel">

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/traveler']" class="nav-hover">
        <span class="glyphicon glyphicon-user navbar-link"></span>
      </a>
    </p>
  </div>
</nav>
<!-- End Footer-->
