<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-pages pages-border-bottom">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page']" class="navbar-text-colors-pages">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav navbar-text-colors-pages"></span>
      </a>
    </p>


    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-text-title-pages">
        <b>Widgets</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']">
        <span class="glyphicon glyphicon-plus navbar-text-colors-pages"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container main-body-content">

  <div class="aj-split-content-right">

    <div *ngFor="let widget of widgets" class="widget-container pull-full-width">

      <!-- edit widget-->
      <div class="widget-container pull-full-width">
        <div class="aj-widget">
          <div class="pull-right">
            <div>
              <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog main-theme-color"></span>
              </a>
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- the actual widget-->
      <div [ngSwitch]="widget['widgetType']">
        <div *ngSwitchCase="'HEADING'">
          <div [ngSwitch]="widget['size']">

            <div *ngSwitchCase="'1'">
              <h1>{{widget['text']}}</h1>
            </div>
            <div *ngSwitchCase="'2'">
              <h2>{{widget['text']}}</h2>
            </div>
            <div *ngSwitchCase="'3'">
              <h3>{{widget['text']}}</h3>
            </div>
            <div *ngSwitchCase="'4'">
              <h4>{{widget['text']}}</h4>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'YOUTUBE'">
          <iframe width="560" height="315" [src]="cleanURL(widget['url'])" frameborder="0"
                  allowfullscreen class="pull-full-width"></iframe>
        </div>

        <div *ngSwitchCase="'IMAGE'">
          <img src="{{widget['url']}}" [style.width]="widget['width']">
        </div>
        <div *ngSwitchCase="'HTML'">
          {{widget['text']}}
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Footer -->
  <nav class="navbar navbar-fixed-bottom header-footer-pages pages-border-top">
    <div class="container-fluid header-footer-pages">

      <p class="navbar-text pull-left">
        <a class="navbar-text-colors-pages">
          <span class="glyphicon glyphicon-play glyphicon-nav navbar-text-colors-pages"></span>
        </a>
      </p>

      <p class="navbar-text pull-left">
        <a class="navbar-text-colors-pages">
          <span class="glyphicon glyphicon-eye-open glyphicon-nav navbar-text-colors-pages"></span>
        </a>
      </p>

      <!--tick mark-->
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user', userId]" class="nav-hover">
          <span class="glyphicon glyphicon-user glyphicon-nav main-theme-color"></span>
        </a>
      </p>
    </div>
  </nav>
  <!-- End Footer-->
