<nav class="navbar-fixed-top header-footer-blue-steel">

  <div class="nav-header-content">


    <div class="col-sm-3 col-xs-1 nav-padding-zero">

      <a [routerLink]="['/event-list']" class="navbar-text-main-theme">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>

      <div class="nav-padding-zero hidden-xs nav-padding-zero navbar-text-main-theme">
        <b>Events</b>
      </div>

      <div class="navbar-split-padding hidden-xs nav-padding-zero pull-right">
        <a [routerLink]="['/event', 'new']" class="navbar-text-main-theme nav-padding-zero">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>


    </div>

    <div class="col-sm-8 col-xs-10 nav-padding-zero navbar-text-main-theme">
      <b>New Event</b>
    </div>

    <div class="col-xs-1 nav-padding-zero">
      <a (click)="updatePromotion()" class="navbar-text-main-theme">
        <span class="glyphicon glyphicon-ok pull-right"></span>
      </a>
    </div>

  </div>

</nav>


<div class="main-body-content aj-content-full-height">

  <div class="container-fluid aj-content-full-height">

    <div class="row aj-content-full-height">

      <div class="col-sm-3 hidden-xs aj-split-content-left">
        <app-promotion-list></app-promotion-list>
      </div>

      <div class="col-sm-9 col-sm-12 aj-split-content-right">
        <div *ngIf="errorFlag"
             class="alert alert-danger">
          {{errorMsg}}
        </div>
        <form>
          <div class="form-group">
            <label for="suggestionName">Promotion Title</label>
            <input placeholder="Eat Great Ramen!"
                   id="suggestionName"
                   name="suggestionName"
                   type="text"
                   class="form-control"
                   required
                   [(ngModel)]="suggestionName"/>

            <input placeholder="Fu-unji Ramen"
                   id="businessName"
                   name="businessName"
                   type="text"
                   class="form-control"
                   required
                   [(ngModel)]="businessName"/>

            <label for="suggestionLocation">Location</label>
            <input placeholder="127 Tokyo Lane, Tokyo, Japan"
                   id="suggestionLocation"
                   name="suggestionLocation"
                   type="text"
                   class="form-control"
                   required
                   [(ngModel)]="suggestionLocation"/>

            <label for="businessURL">Business URL</label>
            <input placeholder="https://www.tripadvisor.com/Restaurant_Review-g1066456-d1679642-Reviews-Fuunji-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html"
                   id="businessURL"
                   name="suggestionLocation"
                   type="text"
                   class="form-control"
                   required
                   [(ngModel)]="businessURL"/>
          </div>

          <a class="btn btn-primary btn-block"
             (click)="deployPromotion()">Deploy</a>

          <br><br>

          <a class="btn btn-danger btn-block"
             (click)="deletePromotion()">Delete</a>

        </form>


      </div>


    </div>


  </div>


  <!-- Footer -->
  <nav class="navbar navbar-fixed-bottom header-footer-blue-steel">
    <div class="container-fluid header-footer-blue-steel">

      <!--tick mark-->
      <p class="navbar-text pull-right">
        <a [routerLink]="['/traveler', travelerId]" class="nav-hover">
          <span class="glyphicon glyphicon-user navbar-link"></span>
        </a>
      </p>
    </div>
  </nav>
  <!-- End Footer-->
