<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">

    <p class="navbar-header pull-left">
      <a [routerLink]="['/login']" class="navbar-brand thick">
        Login/Register to start planning a trip!
      </a>
    </p>
  </div>
</nav>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">All Events</h3>
  </div>
  <div *ngFor="let event of events" class="aj-users-event">
    <a [routerLink]="['/event', event['_id'], 'activity']">{{event['eventName']}}</a>
  </div>
</div>
