<div class="main-body-content">
  <ul class="list-group">
    <li class="list-group-item">
      <h1>
        Search for a place
      </h1>
      <input   placeholder="Golden Gate Bridge"
               name="theSearchTerm"
               type="text"
               class="form-control"
               required
               [(ngModel)]="searchTerm"/>
      <a class="btn btn-primary btn-block"
         (click)="placesAutoComplete()">Predict</a>
    </li>
    <li class="list-group-item">
      <div class="row" *ngFor="let aResult of result">
        <div class="col-xs-9 col-sm-11">
          {{aResult.description}}
          <br>
          <a class="btn"
             (click)="moreDetails(aResult.place_id)">
            <h4>More Details</h4>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div *ngIf="detailsFlag">
        Address: {{details['formatted_address']}}
        <br>
        OverallRating: {{details['rating']}}
        <br>
        <br>

        <div class="row" *ngFor="let review of reviews">
          Review by {{review.author_name}} gives a {{review.rating}}
          <br>
          <img src="{{review.profile_photo_url}}"/>
          <br>
          {{review.text}}
          <br>
          <br>

        </div>
      </div>
    </li>
  </ul>
</div>

<app-footer></app-footer>

