
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click)="updateTraveler()" class="">
        <span class="glyphicon glyphicon-ok navbar-link"></span>
      </a>
    </p>
  </div>
</nav>
<div class="container main-content">
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="email"
             type="text"
             class="form-control"
             id="email"
             name="email"
             />
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="firstName"
             type="text"
             class="form-control"
             id="firstName"
             name="firstName"
             />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input [(ngModel)]="lastName"
             type="text"
             class="form-control"
             id="lastName"
             name="lastName"
             />
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input [(ngModel)]="phone"
             type="text"
             class="form-control"
             id="phone"
             name="phone"
      />
    </div>
  </form>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/event-list']">View Your Events</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/allTravelers']">View Users</a>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/following']">Following</a>
  <a class="btn btn-danger btn-block"
     (click)="logout()">Logout</a>
  <a class="btn btn-danger btn-block"
     (click)="deleteTraveler()">Delete Account</a>
<br>
  Member since {{monthJoined}} / {{yearJoined}}
</div>
<!-- Footer -->
<nav class="navbar navbar-fixed-bottom header-footer-blue-steel">
  <div class="container-fluid header-footer-blue-steel">

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/traveler']" class="nav-hover">
        <span class="glyphicon glyphicon-user navbar-link"></span>
      </a>
    </p>
  </div>
</nav>
<!-- End Footer-->
