<div class="container">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>This is the login for the travel app</h1>

  <!--<form (ngSubmit) = "login()" #f="ngForm">-->

    <input   placeholder="email"
             name="email"
             type="text"
             class="form-control"
             required
             [(ngModel)]="email"/>

    <input   placeholder="password"
             name="password"
             type="password"
             class="form-control"
             [(ngModel)]="password"
             required/>

  <button class="btn btn-primary btn-block" (click)="login(email, password)"
          type="submit">Login</button>
  <button class="btn btn-success btn-block" [routerLink]="['/register']"
          type="submit">Register</button>
  <!--</form>-->

</div>
