<div class="container main-content login-image aj-full-page">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <form>
    <input placeholder="email"
           name="email"
           type="text"
           class="form-control"
           required
           [(ngModel)]="email"/>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           [(ngModel)]="password"
           required/>

    <button class="btn btn-primary btn-block" (click)="login(email, password)"
            type="submit">Login!
    </button>
  </form>
  <button class="btn btn-success btn-block" [routerLink]="['/register']"
          type="submit">Register
  </button>

  <button class="btn btn-success btn-block" [routerLink]="['/main']"
          type="submit">Continue without logging in...
  </button>
  <br>
  Try alice/alice to poke around!

</div>
