<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/traveler']">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav header-main-text-color"></span>
      </a>
    </p>


    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Suggestions</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/event', eventId, activityId, 'newSuggestion']">
        <span class="glyphicon glyphicon-plus navbar-link"></span>
      </a>
    </p>
  </div>
</nav>


<div class="main-body-content">
  <div class="col-xs-2">
    <app-activity-details></app-activity-details>
  </div>

  <div class="col-xs-6">
    <ul class="list-group">
      list of suggestions
      <li class="list-group-item" *ngFor="let promotion of promotions">
        Promotion:
        <br>{{promotion['suggestionName']}}
        <br>{{promotion['suggestionLocation']}}
        <br><a href="http://{{promotion['businessURL']}}" target="new">{{promotion['businessName']}}</a>
        <br><a (click)="removePromotionForMe(promotion['_id'])">Remove Promotion</a>
      </li>

      <li class="list-group-item" *ngFor="let suggestion of suggestions">
        <div class="row">
          <div class="col-xs-9 col-sm-11">

            <div *ngIf="isLoggedIn">
              <a (click)="upVote(suggestion['_id'])">Upvote</a>
              | <a (click)="markAsDecided(suggestion['_id'])">Mark as decided</a>
              <br>
              <a (click)="unVote(suggestion['_id'])">undo vote</a>
            </div>
            <div *ngIf="!isLoggedIn">
              <app-prompt-to-login-or-register></app-prompt-to-login-or-register>
            </div>
            <br>
            People who voted for this suggestion:
            <div *ngFor="let voter of suggestion['travelerUpVoters']">
              {{voter['firstName']}}
            </div>


            <br>Total upvotes: {{suggestion['travelerUpVoters'].length}}
            <br>Suggestion Name: {{suggestion['activitySuggestionName']}}
            <br>Location: {{suggestion['suggestionLocation']}}

            <div *ngIf="isEventOwner">
              <br><a [routerLink]="['/event', eventId, activityId, suggestion['_id']]">
              Edit Suggestion
            </a>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>


</div>


<!-- Footer -->
<nav class="navbar navbar-fixed-bottom header-footer-blue-steel">
  <div class="container-fluid header-footer-blue-steel">

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/traveler']" class="nav-hover">
        <span class="glyphicon glyphicon-user navbar-link"></span>
      </a>
    </p>
  </div>
</nav>
<!-- End Footer-->
