<div class="panel panel-warning" *ngFor="let aPromotion of promotions">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><a [routerLink]="['/promotion', aPromotion['_id']]">{{aPromotion['suggestionName']}}</a></strong></h3>
  </div>
  <li class="list-group-item">

    <strong>Analytics:</strong>
    <br>
    <table class="aj-tablepadding">
      <tr>
        <td>Views</td>
        <td>{{aPromotion['views']}}</td>
      </tr>
      <tr>
        <td>
          Number of Activities Suggested to:
        </td>
        <td>
          {{aPromotion['addedToActivitiesTotal']}}
        </td>
      </tr>
    </table>
  </li>
</div>
