<form>
  <input placeholder="email"
         name="email"
         type="text"
         class="form-control"
         required
         [(ngModel)]="searchTerm"/>
  <a class="btn btn-primary btn-block"
     (click)="findUser()" type="submit">Find User</a>
</form>
<div *ngIf="userSearched">
  <div *ngIf="firstNameExists">
    First Name: {{travelerSearchedFor.firstName}}
  </div>
  <div *ngIf="lastNameExists">
    Last Name: {{travelerSearchedFor.lastName}}
  </div>
  Email: {{travelerSearchedFor.email}}
  <div *ngIf="canAddToEvent">
    <a (click)="addUserToEvent()">Add to event</a>
  </div>
</div>
