<div *ngIf="eventExists">
  <div class="panel panel-danger">

    <div class="panel-heading">
      <h3 class="panel-title">Your Events</h3>
    </div>
    <div *ngFor="let anEvent of events">
      <div class="panel-body aj-panel-border">
        <a [routerLink]="['/event', anEvent['_id'], 'activity']" class="eventList">{{anEvent['eventName']}}</a>
      </div>
    </div>
    <button class="btn btn-danger btn-block" [routerLink]="['/event', 'new']" type="submit">New Event
    </button>
  </div>
</div>
