
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-pages pages-border-bottom">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-text-colors-pages">
        <span class="glyphicon glyphicon-chevron-left glyphicon-nav navbar-text-colors-pages"></span>
      </a>
    </p>


    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick navbar-text-title-pages">
        <b>Choose Widget</b>
      </a>
    </p>

  </div>
</nav>

<div class="main-body-content">

  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-12">

            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', aRandomId, 'HEADING']">Header</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-12">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', aRandomId, 'IMAGE']">Image</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-12">
            <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', aRandomId, 'YOUTUBE']">YouTube</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-fixed-bottom header-footer-pages pages-border-top">
  <div class="container-fluid header-footer-pages">

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', userId]" class="nav-hover">
        <span class="glyphicon glyphicon-user glyphicon-nav main-theme-color"></span>
      </a>
    </p>
  </div>
</nav>
<!-- End Footer-->
