<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <span *ngIf="loggedIn">Welcome {{user['firstName']}}!</span>
        <span *ngIf="!loggedIn"><button class="btn btn-primary btn-block" [routerLink]="['/login']"
              type="submit">Login</button>
          <button class="btn btn-success btn-block" [routerLink]="['/register']"
              type="submit">Register
      </button>
    </span>
      </a>
    </p>
  </div>
</nav>

<div class="container main-content">

    <div class="panel-heading">
      <h3 class="panel-title">Your Promotions
        <a [routerLink]="['/promotion', 'new']">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </h3>
    </div>
    <app-promotion-list></app-promotion-list>

</div>

<app-footer></app-footer>
