/* You can add global styles to this file, and also import other style files */
input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.header-footer-blue-steel {
  background-color: #428bca;
  height: 50px;
}
.header-footer-pages {
  background-color: #f8f8f8;
  height: 50px;
}

.pages-border-bottom {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;
}
.pages-border-top {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #dedede;
}
.navbar-brand {
  color: #ffffff;
}
.main-theme-color {
  color: #428bca
}

.navbar-fixed-top {
  float: left;
  margin-bottom: 0px;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-text {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 15px;

}
.navbar-text-colors-pages {
  color: #000000;
}
.navbar-text-title-pages {
  color: #9a9a9a;
}
.navbar-text-main-theme {
  color: #ffffff;

}
.navbar-text-size {
  font-size: 14px;
}
.navbar-default .navbar-link:hover {
  color:#000000;
}
.nav-hover:hover {
  color:#000000;
}
.main-content {
  padding-top: 60px;
}
.navbar-link {
  color:#ffffff;
}
label {
  margin-bottom: 0px;
}
a.btn-block {
  font-weight: bold;
}

.header-main-text-color {
  color: #ffffff;
}
.main-body-content {
  padding-top: 50px;
  padding-bottom: 60px;
}
.list-group-item {
  border: 0px #ffffff
}
.website-list-icon {
  text-align: right;
}
.website-page-icons {
  padding-right: 30px;
}
.aj-website-description {
  height: 100px;
}
.aj-split-content-left {
  border-right: 1px;
  border-lefT: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #dedede;
  border-right-style: solid;
}
.textarea-3 {
  height: 150px !important;
}
html, body, .aj-content-full-height, .aj-split-content-left {
  height: 100%;
}
.aj-split-content-right {
  padding-top: 10px;
}
.nav-padding-zero {
  padding: 0px;
  display: inline-block;
}
.pull-center {
  text-align: center;
  margin-bottom: 0px;
}
.aj-nav-padding-zero-except-left {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.form-name-secondary {
  font-weight: normal;
}
.pull-full-width {
  width: 100%
}
.aj-widget {
  position: absolute !important;
  right: 15px  !important;
  background-color: #ffffff  !important;
  padding: 7px  !important;
  border-bottom-left-radius: 7px  !important;
  opacity: 0.9  !important;
}
.navbar-header {
  margin-bottom: 0px;
}
.nav-header-content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-split-padding {
  padding-right: 20px;
}
a:hover {
  text-decoration: none !important;
}
