<div class="container">
  <h1>Register</h1>
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <input   placeholder="username"
           name="username"
           type="text"
           class="form-control"
           required
           [(ngModel)]="username"/>
  <input   name="password"
           type="password"
           class="form-control"
           placeholder="password"
           required
           [(ngModel)]="password"/>
  <input   name="vpassword"
           type="password"
           placeholder="verify password"
           class="form-control"
           required
           [(ngModel)]="vpassword"/>
  <a class="btn btn-primary btn-block"
     (click)="register()">Register</a>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']" >Cancel</a>
</div>
