<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">

    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Welcome {{user['firstName']}}!</b>
      </a>
    </p>
  </div>
</nav>


<div class="container main-content">
  <div *ngIf="loggedIn">

  </div>
  <div *ngIf="!loggedIn">
    <button class="btn btn-primary btn-block" [routerLink]="['/login']"
            type="submit">Login
    </button>
    <button class="btn btn-success btn-block" [routerLink]="['/register']"
            type="submit">Register
    </button>
  </div>

  <div *ngIf="loggedIn">
    <h3>Your Events</h3>
    <app-event-list></app-event-list>
    <button class="btn btn-success btn-block" [routerLink]="['/event', 'new']" type="submit">New Event
    </button>
    <br>
    <a [routerLink]="['/browseEvents']">
      <button class="btn btn-success btn-block" [routerLink]="['/register']" type="submit">Browse Events
      </button>
    </a>
    <app-view-following></app-view-following>
    <br><br>
    <app-search-travelers></app-search-travelers>
  </div>
  <div *ngIf="!loggedIn">
    <app-event-browse></app-event-browse>
  </div>
</div>

<app-footer></app-footer>
