<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-footer-blue-steel">
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Welcome {{user['firstName']}}!</b>
      </a>
    </p>
  </div>
</nav>


<div class="container main-content">
  <span *ngIf="!loggedIn">
    <button class="btn btn-primary btn-block" [routerLink]="['/login']"
            type="submit">Login
    </button>
    <button class="btn btn-success btn-block" [routerLink]="['/register']"
            type="submit">Register
    </button>
  </span>

  <span *ngIf="loggedIn">
    <app-event-list></app-event-list>
    <app-view-following></app-view-following>
    <app-search-travelers></app-search-travelers>
  </span>
  <span *ngIf="!loggedIn">
    <app-event-browse></app-event-browse>
  </span>
</div>

<app-footer></app-footer>
